/* 全局样式 */
body, html {
    /* 去除默认的边距和内边距 */
    margin: 0;
    padding: 0;
    /* 设置宽度和高度为自动 */
    width: auto;
    height: auto;
    /* 设置背景颜色为白色 */
    background-color: #ffffff;
    /* 设置背景颜色和文字颜色的过渡效果 */
    transition: background-color 0.5s, color 0.5s;
}

/* 主内容样式 */
.main-content {
    /* 设置内边距 */
    padding: 20px;
    /* 设置宽度为视口宽度的60% */
    width: 60vw;
    /* 设置背景颜色为黑色半透明 */
    background-color: rgba(0, 0, 0, 0.1);
    /* 设置文字颜色 */
    color: #333333;
    /* 设置相对定位 */
    position: relative;
    /* 设置背景颜色和文字颜色的过渡效果 */
    transition: background-color 0.5s, color 0.5s;
    /* 设置z轴索引 */
    z-index: 1;
    /* 将左右外边距设置为auto，实现水平居中 */
    margin: 0 auto;
}
