@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1693649223969') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lieri:before {
  content: "\f0210";
}

.icon-mima:before {
  content: "\e614";
}

.icon-zhengque:before {
  content: "\e725";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-guanbi-yanjing:before {
  content: "\e6e3";
}

.icon-taiyang1:before {
  content: "\e62e";
}

.icon-biyan:before {
  content: "\e6a8";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-moon-fill:before {
  content: "\e6c0";
}

.icon-yueliang:before {
  content: "\e6b6";
}

